{% extends 'base.html' %}

{% block content %}
{% load static %}
<head>
  <html>
  <style>  
      .round1 {
                  border: 2px solid #5AB9D0;
                  border-radius: 5px;
                  padding:10px;
                }
              </style>
      
      <div class="round1" style="background-color:white">
              <table>
                  <tr>
                      <th style="align:left;position:relative;top:8px"> 
                          <img src="{% static 'l.png' %}" align="left" width="85px" height="75px">
                           
                </th>
                <th><img src="{% static 'logo.png' %}" align="left" width="160px" height="85px"></th>
                </tr>
                  </table>
                  </div>
                  </head>
                  <body style="background-color:#e0ffff">
                    <img src="{% static 'fb.jpg' %}" align="right" width="800px" height="500px">
                   <h2>Sign Up</h2>
  <form method="post">
    {% csrf_token %}
   {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>
  </body>
  </html>
{% endblock %}