{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% load static %}
<html>
  <head>
    <style>  
        .round1 {
                    border: 2px solid #5AB9D0;
                    border-radius: 5px;
                    padding:10px;
                  }
                </style>
        
        <div class="round1" style="background-color:white">
                <table>
                    <tr>
                        <th style="align:left;position:relative;top:8px"> 
                            <img src="{% static 'l.png' %}" align="left" width="85px" height="75px">
                             
                  </th>
                  <th><img src="{% static 'logo.png' %}" align="left" width="160px" height="85px"></th>
                  </tr>
                    </table>
                    </div>
                    </head>
<body style="background-color:lightblue;">
<center><h2>Login</h2>
    <form method="post" action="/cart/">
      {% csrf_token %}
      {{ form.as_p }}

      <br><div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
              <label for="uname">Useraname:</label><input  type="text"  class="input-standard-grey" required>
           </div>
  </div>

  <br><div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
          <label for="uname">Password:</label><input  type="password"  class="input-standard-grey" required>
       </div>
</div>
      <br><br><button type="submit">Login</button>
    </form>
    </center>
</body>
</html>
{% endblock %}